.core-value {
    padding: 120px 0 100px;
    background-color: #FAFAFA;

    [class^="col"] {
        margin-bottom: 25px;
    }

    .core-item {
        height: 100%;
        background-color: $white;
        padding: 50px;
        text-align: center;
        box-shadow: 0 5px 50px rgba(152, 149, 149, 0.08);

        .img {
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 0;
            border-radius: 50%;
            background-image: linear-gradient(transparent, rgba(225, 48, 32, 0.13));
        }

        h3 {
            font-size: 20px;
            font-weight: 600;
            margin: 30px 0;
        }

        p {
            margin-bottom: 0;
        }
    }
}